on property:init.svc.vendor.charger=running
    # Keep one LITTLE and one big
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu7/online 0

on init
    # update cpus for cpuset cgroup
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480

    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480

on enable-low-power
    write /proc/cpufreq/cpufreq_sched_disable 0

    # Configure DVFS
    write /sys/kernel/ged/hal/dvfs_margin_value 130
    write /sys/kernel/ged/hal/timer_base_dvfs_margin 798
    write /sys/kernel/ged/hal/loading_base_dvfs_step 4

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

on property:sys.boot_completed=1
    trigger enable-low-power
